<div class="card col-md-12">
	<div class="card-body" style="max-height: 403px;overflow: auto;">
		<form [formGroup]="agent">

			<div class="form-group">
				<label for="name">Nome e Cognome</label>
				<input type="text" formControlName="name" class="form-control" />
				<div *ngIf="submitted && f.name.errors" class="alert alert-danger">
					<br>
					<div *ngIf="f.name.errors.required">Nome e Cognome sono obbligatorio</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" formControlName="email" class="form-control" />
				<div *ngIf="submitted && f.email.errors" class="alert alert-danger">
					<br>
					<div *ngIf="f.email.errors.required">Email è obbligatorio</div>
					<div *ngIf="f.email.errors.email">Il formato dell'email non è corretto</div>
				</div>
			</div>

	<!-- 		<div class="form-group">
				<label for="commision">Commissione (%)</label>
				<input type="number" min="0" formControlName="commision" class="form-control" />
				<div *ngIf="submitted && f.commision.errors" class="alert alert-danger">
					<br>
					<div *ngIf="f.commision.errors.required">Commissione e obbligatorio</div>
				</div>
			</div> -->

			<div class="form-group">
				<label for="unpaidCommision">Commissione non pagata</label>
				<input type="number" min="0" formControlName="unpaidCommision" class="form-control" />
				<div *ngIf="submitted && f.unpaidCommision.errors" class="alert alert-danger">
					<br>
					<div *ngIf="f.unpaidCommision.errors.required">Commissione non pagata e obbligatorio</div>
				</div>
			</div>

			<div class="form-group">
				<label for="phone_number">Telefono</label>
				<input type="text" formControlName="phone_number" class="form-control" />
			</div>

			<div class="form-group">
				<label for="zone_covered">Zona Coperta</label>
				<input type="text" formControlName="zone_covered" class="form-control" />
			</div>

			<br />

		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group text-right">
			<button type="button" class="mat-raised-button" (click)="close()">Chiudi</button>
			&nbsp;
			<button type="button" (click)="onSubmit()" class="btn btn-primary">Aggiorna Agente</button>
		</div>
	</div>
</div>
