<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-product-legend [productId]=productId [preventiveId]=preventiveId *ngIf="productId && productId != '_NEW'"></app-product-legend>
            </div>
            <div class="main col-md-9">
                <h2>Scegli il colore del materiale</h2>
                <hr />
                <div class="well">
                    <div id="content">
                        <div class="color-div" style="float:left" *ngFor="let color of colors | paginate: { itemsPerPage: 6,
                            currentPage: p }">{{color.name}}
                            <a (click)="goToSize(color.id)">
                                    <div  *ngIf="color.image === '/images/user.jpg'" class="color-inside"
                                    [ngStyle]="{'background-color': color.value}"></div>
                               <div class="color-inside"  *ngIf="color.image !== '/images/user.jpg'">
                                       <img src="{{baseUrl}}{{color.image}}" style="width:100%;height:100%;"/>
                               </div>
                               <!-- <div style="border: 1px solid red" *ngIf="color.image !== '/images/user.jpg'" class="color-inside"
                                    [ngStyle]="{'background-color': color.value}"></div> -->
                                <!-- <div class="color-inside" [ngStyle]="{'background-color': color.value}"></div> -->
                            </a>
                        </div>
                    </div>
                </div>
                <div style="font-size:20px" *ngIf="colors.length > 6" class="text-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <app-product></app-product>
                </div>
            </div>
        </div>
    </div>
</div>
