<div class="card col-md-12">
    <div class="card-body" style="height: 320px;overflow: auto;">
        <form [formGroup]="updatePassword">
            <div class="form-group">
                <label for="newPassword">Vecchio Password</label>
                <input type="password" formControlName="oldPassword" class="form-control" />
                <div *ngIf="submitted && f.oldPassword.errors" class="alert alert-danger">
                    <br>
                    <div *ngIf="f.oldPassword.errors.required">Vecchio password è obbligatorio</div>
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword">Nuova Password</label>
                <input type="password" (keyup)="clear();" formControlName="newPassword" class="form-control" />
                <div *ngIf="submitted && f.newPassword.errors" class="alert alert-danger">
                    <br>
                    <div *ngIf="f.newPassword.errors.required">Nuova password è obbligatorio</div>
                </div>
            </div>

            <div class="form-group">
                <label for="retypePassword">Ripeti Password</label>
                <input type="password" (keyup)="clear()" formControlName="retypePassword" class="form-control" />
                <div *ngIf="submitted && f.retypePassword.errors" class="alert alert-danger">
                    <br>
                    <div *ngIf="f.retypePassword.errors.required">Ripeti password è obbligatorio</div>
                </div>
                <br />
                <div *ngIf="this.doNotMatch.value" class="alert alert-danger">
                    Le passwords non corrispondono
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group text-right">
            <button type="button" class="mat-raised-button" (click)="close()">Chiudi</button>
            &nbsp;
            <button type="button" (click)="onSubmit()" class="btn btn-primary">Aggiorna Password</button>
        </div>
    </div>
</div>