<div [hidden]="!LoaderInterceptor.getLoader" class="text-center">
  <div class="container-full-bg">
      <div class="jumbotron jumbotron-fluid" class="overlay">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12" style="vertical-align: middle;">
                      <br /><br /><br /><br /><br /><br />
                      <br /><br /><br /><br /><br /><br />
                      <img class="pl-3" style="height: 70px;width:90px;" src="{{baseUrl}}/images/loading.gif" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
