<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary btn-sm" (click)="openDialog()">Inserisci</button>
      </div>
    </div>

    <mat-form-field>
      <input matInput (keyup.enter)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id" sticky>
          <th class="text-center" mat-header-cell *matHeaderCellDef> No. </th>
          <td class="text-center" mat-cell *matCellDef="let row; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo (€)</th>
          <td mat-cell *matCellDef="let row"> {{row.price}} </td>
        </ng-container>
        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Imagi </th>
          <td mat-cell *matCellDef="let row"> <img src="{{baseUrl}}{{row.image}}" style="width:50px;height:50px" />
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th class="text-center" mat-header-cell *matHeaderCellDef> Azioni </th>
          <td class="text-center" mat-cell *matCellDef="let row">
            <button (click)="updateMotor(row)" class="btn btn-success btn-sm">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button (click)="deleteClient(row.id)" class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
