<h4 mat-dialog-title>Creare una conferma d’ordine
    <hr />
</h4>
<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div *ngIf="!submitted || !validateFunction.invoice.errors">
        <br />
    </div>
    <div>
        <div class="row">
            <div class="col-md-12" *ngIf="submitted && validateFunction.invoice.errors">
                <div *ngIf="validateFunction.invoice.errors.required" class="alert alert-danger">
                    *Il numero della conferma d’ordine è obbligatorio!
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div style="display: inline">
                <div class="col-md-12" style="display: inline">
                    No. Conferma d’ordine : <input type="text" formControlName="invoice" />
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                Appunti : <textarea cols="65" formControlName="notes" rows="2"></textarea>
            </div>
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <button type="button" class="mat-raised-button text-center" (click)="close()">Annulla</button>&nbsp;
                <button type="submit" class="mat-raised-button text-center mat-primary">Salva</button>
            </div>
        </div>
    </div>
</form>
